<section class="ls section_padding_100">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ls ms">
				  <ng2-map 
				  center="3105 Highway 29, Unit B, Brockville, ON, Canada"
				  [scrollwheel]="false"
				  [zoomControlOptions]="{position: 'TOP_CENTER'}">
					  <marker position="3105 Highway 29, Unit B, Brockville, ON, Canada"
					  [geoFallbackPosition] = "[44.618030, -75.755239]"></marker>
				  </ng2-map>
			</div>
		</div>

		<div class="row topmargin_40">
			<div class="col-sm-4 to_animate" data-animation="pullDown">
				<div class="teaser text-center">
					<div class="teaser_icon highlight2 size_normal">
						<i class="rt-icon2-phone5"></i>
					</div>
					<p>
						<span class="grey">Phone:</span> +1 613 345 0000
					</p>
				</div>
			</div>
			<div class="col-sm-4 to_animate" data-animation="pullDown">
				<div class="teaser text-center">
					<div class="teaser_icon highlight2 size_normal">
						<i class="rt-icon2-location2"></i>
					</div>

					<p>
						3105-B Highway 29,
						<br> Brockville, ON, Canada
					</p>

				</div>
			</div>
			<div class="col-sm-4 to_animate" data-animation="pullDown">
				<div class="teaser text-center">
					<div class="teaser_icon highlight2 size_normal">
						<i class="rt-icon2-mail"></i>
					</div>

					<p>ebmarion@live.ca</p>

				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-12 to_animate">
				<form class="contact-form columns_padding_5 bold-placeholder" method="post" action="/">
					<div class="row">

						<div class="col-sm-6">
							<p class="contact-form-name">
								<label for="name" class="sr-only">Full Name
									<span class="required">*</span>
								</label>
								<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Full Name">
							</p>
							<p class="contact-form-email">
								<label for="email" class="sr-only">Email address
									<span class="required">*</span>
								</label>
								<input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
							</p>
							<p class="contact-form-subject">
								<label for="subject" class="sr-only">Subject
									<span class="required">*</span>
								</label>
								<input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
							</p>
						</div>
						<div class="col-sm-6">

							<p class="contact-form-message">
								<label for="message" class="sr-only">Message</label>
								<textarea aria-required="true" rows="8" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">

							<p class="contact-form-submit text-center topmargin_30">
								<button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color2">Send Message</button>
							</p>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</section>
