<section class="intro_section page_mainslider ds">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/images/waterlilly_clipped.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="slide_description_wrapper text-right">
                                <div class="slide_description text-center">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <p class="text-uppercase fontsize_14 bold letter-spacing-033 bottommargin_15">
                                            look and feel your best
                                        </p>
                                        <h2 class="margin_0">welcome to</h2>
                                        <h2 class="topmargin_0">esthetics by marion</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <p class="text-uppercase fontsize_14 bold letter-spacing-033">
                                            Marion will strive to meet the needs and exceed the expectations of the client while tailoring each service to the individual. The service doesn’t stop there; at home regimens and treatment schedules to suite each client’s need and budget. Rest assured that you are only recommended specific products with no high pressure sales.
                                        </p>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    <!-- eof flexslider -->
</section>

<div class="contacts-section-container">
    <section class="cs section_padding_45 contacts-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 teaser">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="border_icon size_small round color-primary-1">
                                <i class="rt-icon2-location red"></i>
                            </div>
                        </div>
                        <div class="media-body lineheight_1 media-middle">
                            <span class="lusitana-bold-up fontsize_14">3105-B Highway 29, Brockville, ON, K6V5T4</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 teaser">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="border_icon size_small round color-primary-1">
                                <i class="rt-icon2-tablet3 red"></i>
                            </div>
                        </div>
                        <div class="media-body lineheight_1 media-middle">
                            <span class="lusitana-bold-up fontsize_14">+1 613 345 0000</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 teaser">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="border_icon size_small round color-primary-1">
                                <i class="rt-icon2-at fontsize_16 red"></i>
                            </div>
                        </div>
                        <div class="media-body lineheight_1 media-middle">
                            <span class="lusitana-bold-up fontsize_14">ebmarion@live.ca
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="ls section_padding_100 director">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-4">
                <p class="fontsize_14 text-uppercase bold letter-spacing-033 grey bottommargin_10">since
                    <span class="logo-icon icon-small"></span> 1998</p>
                <h3 class="highlight topmargin_0 bottommargin_15">
                    Full-service esthetician in Brockville
                </h3>
                <p class="bottommargin_0">
                    Esthetics by marion is an upscale personal service establishment, offering a variety of esthetic services by appointment, in Tincap, Ontario, with wheelchair access and ample parking.
                </p>
            </div>
            <div class="col-lg-5 col-md-5 text-center">
                <div class="founding-date-cont">
                    <img src="assets/images/director_clipped.png" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 text-center text-md-left">
                <p class="fontsize_14 bold text-uppercase grey margin_0">owner &amp; operator</p>
                <h3 class="highlight topmargin_10">Marion
                    <br> Trower</h3>
                <hr class="inline-block">
                <br>
                <div class="signature"></div>
            </div>
        </div>
    </div>
</section>

<section class="ls ms section_padding_50 banners texture_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="banner big-banner with_backing left_backing with_background with_padding">
                    <div class="row display_table_sm">
                        <div class="col-md-5 display_table_cell_sm text-center">
                            <div class="item-media entry-thumbnail">
                                <img src="assets/images/banner-big.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 text-center display_table_cell_sm">
                            <div class="item-content">
                                <p class="fontsize_14 bold letter-spacing-033 text-uppercase highlight3">gift certificate</p>
                                <hr class="divider-size_2_30">
                                <h3 class="highlight">This friday
                                    <br> only 20% off
                                    <br> deep massage</h3>
                                <h6 class="theme-block with_padding topmargin_50 bottommargin_50">use a change to take advantage of this offer!</h6>
                                <a href="appointment.html" class="theme_button color3 big_button">Request an appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-0 col-lg-3 col-md-offset-2 col-md-8">
                <div class="banner with_border thick_border with_padding with_background">
                    <div class="row">
                        <div class="vertical-item content-absolute small-banner col-xs-12 col-sm-6 col-lg-12">
                            <div class="item-media">
                                <img src="assets/images/banner-small02.jpg" alt="">
                            </div>
                            <div class="item-content with_background text-center">
                                <h6>
                                    Be beautiful. Feel good about it
                                </h6>
                                <a href="blog-right.html" class="theme_button color2 block_button">Our blog</a>
                            </div>
                        </div>
                        <div class="clearfix hidden-md hidden-sm"></div>
                        <hr class="divider-size_1_70 divider_30 hidden-md hidden-sm">
                        <div class="vertical-item content-absolute small-banner col-xs-12 col-sm-6 col-lg-12">
                            <div class="item-media">
                                <img src="assets/images/banner-small01.jpg" alt="">
                            </div>
                            <div class="item-content with_background text-center">
                                <h6>
                                    Your beauty is our profession
                                </h6>
                                <a href="shop.html" class="theme_button color4 block_button">Shop now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_75 services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="highlight margin_0">Procedures &amp; treatments</h3>
                <hr class="divider-size_2_30 divider_25">
                <p class="text-uppercase bold fontsize_14 letter-spacing-033 grey topmargin_-5 bottommargin_10">No longer beyond your budget</p>
            </div>
        </div>
        <div class="row bottommargin_10">
            <div class="col-md-4 col-lg-3">
                <ul class="list1 no-bullets theme-block services-list">
                    <li>
                        <a href="services.html">
                            <span class="service-icon service-medical"></span>
                            <h6 class="inline-block margin_0">medical spa</h6>
                            <i class="fa fa-chevron-right lightgrey"></i>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            <span class="service-icon service-cosmetic"></span>
                            <h6 class="inline-block margin_0">Cosmetic bar</h6>
                            <i class="fa fa-chevron-right lightgrey"></i>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            <span class="service-icon service-hair"></span>
                            <h6 class="inline-block margin_0">Hair studio</h6>
                            <i class="fa fa-chevron-right lightgrey"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-6 text-center">
                <div class="services-media">
                    <img src="assets/images/services.png" alt="">
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <ul class="list1 no-bullets theme-block services-list">
                    <li>
                        <a href="services.html">
                            <span class="service-icon service-medical"></span>
                            <h6 class="inline-block margin_0">medical spa</h6>
                            <i class="fa fa-chevron-right lightgrey"></i>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            <span class="service-icon service-cosmetic"></span>
                            <h6 class="inline-block margin_0">Cosmetic bar</h6>
                            <i class="fa fa-chevron-right lightgrey"></i>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            <span class="service-icon service-hair"></span>
                            <h6 class="inline-block margin_0">Hair studio</h6>
                            <i class="fa fa-chevron-right lightgrey"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_50 texture_bg lookbook">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-0 col-lg-3 text-center">
                <div class="with_padding theme_background lookbook-small">
                    <div class="with_border thick_border columns_padding_0">
                        <div class="row margin_0">
                            <div class="col-sm-4 col-lg-12">
                                <div class="with_padding">
                                    <div class="lusitana-bold-up fontsize_56 lineheight_1 highlight">15</div>
                                    <h6 class="margin_0">years of experience</h6>
                                </div>
                            </div>
                            <div class="clearfix hidden-md hidden-sm"></div>
                            <hr class="divider-size_1_70 divider_0 hidden-md hidden-sm">
                            <div class="col-sm-4 col-lg-12">
                                <div class="with_padding">
                                    <div class="lusitana-bold-up fontsize_56 lineheight_1 highlight">32</div>
                                    <h6 class="margin_0">members in team</h6>
                                </div>
                            </div>
                            <div class="clearfix hidden-md hidden-sm"></div>
                            <hr class="hidden-md hidden-sm divider_0">
                            <div class="col-sm-4 col-lg-12">
                                <div class="with_padding with_background">
                                    <div class="lusitana-bold-up fontsize_56 lineheight_1 highlight4">75</div>
                                    <h6 class="margin_0">professional procedures</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix hidden-lg "></div>

            <div class="col-lg-9">
                <div class="with_backing theme_background lookbook-big columns_padding_0">
                    <div class="row margin_0">
                        <div class="col-sm-4">
                            <div class="vertical-item with_background with_padding">
                                <div class="item-media text-center">
                                    <img src="assets/images/lookbook01.jpg" alt="">
                                </div>
                                <div class="item-content text-center">
                                    <p class="letter-spacing-033 small-text lineheight_1 highlight4">Relaxation</p>
                                    <h3 class="highlight">beauty
                                        <br> center</h3>
                                    <hr class="divider-size_2_30 divider_25 highlight4">
                                    <p>
                                        On the hand, we denounce with righteous indignation and dislike men whoare
                                    </p>
                                    <hr>
                                    <a href="services.html" class="theme_button wide_button color4">View details</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="vertical-item muted_background with_padding">
                                <div class="item-media text-center">
                                    <img src="assets/images/lookbook02.jpg" alt="">
                                </div>
                                <div class="item-content text-center">
                                    <p class="letter-spacing-033 small-text lineheight_1 highlight3">refreshing</p>
                                    <h3 class="highlight">Hair
                                        <br> salon</h3>
                                    <hr class="divider-size_2_30 divider_25 highlight3">
                                    <p>
                                        He rejects pleasures to secure other greater pleasures or else endures pains to avoid
                                    </p>
                                    <hr>
                                    <a href="services.html" class="theme_button wide_button color3">View details</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="vertical-item with_background with_padding">
                                <div class="item-media text-center">
                                    <img src="assets/images/lookbook03.jpg" alt="">
                                </div>
                                <div class="item-content text-center">
                                    <p class="letter-spacing-033 small-text lineheight_1 highlight2">Rejuvenation</p>
                                    <h3 class="highlight">spa
                                        <br> resort</h3>
                                    <hr class="divider-size_2_30 divider_25 highlight2">
                                    <p>
                                        That they cannot foresee the pain and trouble that are bound to ensue and belongs
                                    </p>
                                    <hr>
                                    <a href="services.html" class="theme_button wide_button color2">View details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Architecture nav tabs -->
<section class="ls">
    <div class="container columns_padding_0">
        <ul class="nav nav-tabs row margin_0 architecture-tabs" role="tablist">
            <li class="active col-sm-4">
                <a href="#exterior" class="lusitana-bold-up fontsize_14" role="tab" data-toggle="tab">excellent exterior</a>
            </li>
            <li class="col-sm-4">
                <a href="#interior" class="lusitana-bold-up fontsize_14" role="tab" data-toggle="tab">luxury interior</a>
            </li>
            <li class="col-sm-4">
                <a href="#equipment" class="lusitana-bold-up fontsize_14" role="tab" data-toggle="tab">specialized equipment</a>
            </li>
        </ul>
    </div>
</section>
<!-- Architecture panes -->
<section class="ls ms section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content architecture-tab-content text-center">
                    <div class="tab-pane fade in active with_background" id="exterior">
                        <div class="tab-media">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="exterior01">
                                    <img src="assets/images/architecture/exterior01.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/exterior01.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="exterior02">
                                    <img src="assets/images/architecture/exterior02.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/exterior02.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="exterior03">
                                    <img src="assets/images/architecture/exterior03.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/exterior03.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="exterior04">
                                    <img src="assets/images/architecture/exterior04.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/exterior04.jpg"></a>
                                    </div>
                                </div>
                            </div>

                            <ul class="tab-media-elements with_border thick_border mutted_border with_background no-bullets" role="tablist">
                                <li class="item-media active">
                                    <a href="#exteriorr01" role="tab" data-toggle="tab">
                                        <img src="assets/images/architecture/exterior01.jpg" alt="">
                                    </a>
                                    <!-- <div class="media-links"></div> -->
                                </li>
                                <li class="item-media">
                                    <a href="#exterior02" role="tab" data-toggle="tab">
                                        <img src="assets/images/architecture/exterior02.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item-media">
                                    <a href="#exterior03" role="tab" data-toggle="tab">
                                        <img src="assets/images/architecture/exterior03.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item-media">
                                    <a href="#exterior04" role="tab" data-toggle="tab">
                                        <img src="assets/images/architecture/exterior04.jpg" alt="">
                                    </a>
                                </li>
                                <li class="clearfix"></li>
                            </ul>

                        </div>

                        <div class="tab-content">
                            <h3 class="highlight bottommargin_25">wellness luxury
                                <br>spa resort</h3>
                            <img src="assets/img/logo-icon-color4.png" alt="">
                            <p class="topmargin_20 fontsize_14 bold letter-spacing-033 text-uppercase grey">
                                give youself a moment
                                <br> of relaxation
                            </p>
                            <hr class="divider-size_1_70 highlight4">
                            <p class="darkenfont">
                                We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, that they cannot foresee the pain and trouble that are bound to ensue fail.
                            </p>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="tab-pane fade in with_background content-left" id="interior">


                        <div class="tab-media">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="interior01">
                                    <img src="assets/images/architecture/interior01.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/interior01.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="interior02">
                                    <img src="assets/images/architecture/interior02.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/interior02.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="interior03">
                                    <img src="assets/images/architecture/interior03.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/interior03.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="interior04">
                                    <img src="assets/images/architecture/interior04.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/interior04.jpg"></a>
                                    </div>
                                </div>
                            </div>

                            <ul class="tab-media-elements with_border thick_border mutted_border with_background no-bullets" role="tablist">
                                <li class="item-media active">
                                    <a href="#interior01" role="tab" data-toggle="tab" class="media-color3">
                                        <img src="assets/images/architecture/interior01.jpg" alt="">
                                    </a>
                                    <!-- <div class="media-links"></div> -->
                                </li>
                                <li class="item-media">
                                    <a href="#interior02" role="tab" data-toggle="tab" class="media-color3">
                                        <img src="assets/images/architecture/interior02.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item-media">
                                    <a href="#interior03" role="tab" data-toggle="tab" class="media-color3">
                                        <img src="assets/images/architecture/interior03.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item-media">
                                    <a href="#interior04" role="tab" data-toggle="tab" class="media-color3">
                                        <img src="assets/images/architecture/interior04.jpg" alt="">
                                    </a>
                                </li>
                                <li class="clearfix"></li>
                            </ul>

                        </div>

                        <div class="tab-content">
                            <h3 class="highlight bottommargin_25">wellness luxury
                                <br>spa resort</h3>
                            <img src="assets/img/logo-icon-color3.png" alt="">
                            <p class="topmargin_20 fontsize_14 bold letter-spacing-033 text-uppercase grey">
                                give youself a moment
                                <br> of relaxation
                            </p>
                            <hr class="divider-size_1_70 highlight3">
                            <p class="darkenfont">
                                We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, that they cannot foresee the pain and trouble that are bound to ensue fail.
                            </p>
                        </div>

                    </div>

                    <div class="tab-pane fade in with_background" id="equipment">
                        <div class="tab-media">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="equipment01">
                                    <img src="assets/images/architecture/equipment01.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/equipment01.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="equipment02">
                                    <img src="assets/images/architecture/equipment02.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/equipment02.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="equipment03">
                                    <img src="assets/images/architecture/equipment03.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/equipment03.jpg"></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="equipment04">
                                    <img src="assets/images/architecture/equipment04.jpg" alt="">
                                    <div class="media-links">
                                        <a class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="/images/architecture/equipment04.jpg"></a>
                                    </div>
                                </div>
                            </div>

                            <ul class="tab-media-elements with_border thick_border mutted_border with_background no-bullets" role="tablist">
                                <li class="item-media active">
                                    <a href="#equipment01" role="tab" data-toggle="tab" class="media-color2">
                                        <img src="assets/images/architecture/equipment01.jpg" alt="">
                                    </a>
                                    <!-- <div class="media-links"></div> -->
                                </li>
                                <li class="item-media">
                                    <a href="#equipment02" role="tab" data-toggle="tab" class="media-color2">
                                        <img src="assets/images/architecture/equipment02.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item-media">
                                    <a href="#equipment03" role="tab" data-toggle="tab" class="media-color2">
                                        <img src="assets/images/architecture/equipment03.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item-media">
                                    <a href="#equipment04" role="tab" data-toggle="tab" class="media-color2">
                                        <img src="assets/images/architecture/equipment04.jpg" alt="">
                                    </a>
                                </li>
                                <li class="clearfix"></li>
                            </ul>

                        </div>

                        <div class="tab-content">
                            <h3 class="highlight bottommargin_25">wellness luxury
                                <br>spa resort</h3>
                            <img src="assets/img/logo-icon-color2.png" alt="">
                            <p class="topmargin_20 fontsize_14 bold letter-spacing-033 text-uppercase grey">
                                give youself a moment
                                <br> of relaxation
                            </p>
                            <hr class="divider-size_1_70 highlight2">
                            <p class="darkenfont">
                                We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, that they cannot foresee the pain and trouble that are bound to ensue fail.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
