<section class="ls page_toplogo table_section table_section_md columns_padding_0">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 text-center text-md-left">
				<span class="small-text">follow us:</span>
				<div class="page_social_icons inline-block">
					<a class="social-icon soc-facebook theme-icon" href="#" title="Facebook"></a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 text-center text-md-right col-md-push-4"></div>
			<div class="col-md-4 col-sm-12 text-center col-md-pull-4">
				<a href="./" class="logo">
					<img src="assets/images/logo_clipped.png" alt="" class="main_bg_color">
				</a>
			</div>
		</div>
	</div>
</section>
<header class="page_header header_bg_image fullwidth_menu columns_padding_0 section_padding_top_60">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<!-- main nav start -->
				<nav class="mainmenu_wrapper">
					<ul class="mainmenu nav sf-menu">
						<li>
							<a routerLink="/main" routerLinkActive="active">Home</a>
						</li>
						<li>
							<a routerLink="/services" routerLinkActive="active">Services</a>
						</li>
						<li>
							<a routerLink="/main" routerLinkActive="active">Before &amp; Afters</a>
						</li>
						<li>
							<a routerLink="/main" routerLinkActive="active">Testimonials</a>
						</li>
						<li>
							<a routerLink="/main" routerLinkActive="active">Products</a>
						</li>
						<li>
							<a routerLink="/contact" routerLinkActive="active">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<!--Main content here-->
<router-outlet></router-outlet>
<!--Footer-->
<section class="page_copyright theme_copyright texture_bg cs columns_padding_0 columns_margin_0">
	<div class="container">
		<div class="row display_table_md">
			<div class="col-md-4 col-md-push-4 text-center display_table_cell_md">
				<a href="./" class="logo">
					<div class="main_bg_color2">
						<img src="assets/images/logo_clipped.png" alt="">
					</div>
				</a>
			</div>
			<div class="col-md-4 col-md-pull-4 text-center text-md-left display_table_cell_md">
				<p class="small-text grey margin_0">Esthetics by Marion &copy; 2017</p>
			</div>
			<div class="col-md-4 coltext-center text-md-right display_table_cell_md">
				<p class="small-text grey margin_0">Created with
					<i class="rt-icon2-heart highlight4"></i> by Albino Cordeiro</p>
			</div>
		</div>
	</div>
</section>
