			<section class="ls section_padding_top_100 section_padding_bottom_80">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3 class="highlight topmargin_0">medical spa</h3>
							<hr class="divider-size_2_30 topmargin_25 bottommargin_20">
							<p class="fontsize_14 text-uppercase bold letter-spacing-033 grey bottommargin_5">Quis boudin officia strip</p>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-5">

							<!-- Nav tabs -->
							<ul class="nav theme-block services-list list1 no-bullets" role="tablist">
								<li class="active">
									<a href="#vertical-tab1" role="tab" data-toggle="tab">
										<span class="service-icon service-medical"></span>
										<h6 class="inline-block margin_0">medical spa</h6>
										<i class="fa fa-chevron-right lightgrey"></i>
									</a>
								</li>
								<li>
									<a href="#vertical-tab2" role="tab" data-toggle="tab">
										<span class="service-icon service-cosmetic"></span>
										<h6 class="inline-block margin_0">Cosmetic bar</h6>
										<i class="fa fa-chevron-right lightgrey"></i>
									</a>
								</li>
								<li>
									<a href="#vertical-tab3" role="tab" data-toggle="tab">
										<span class="service-icon service-hair"></span>
										<h6 class="inline-block margin_0">Hair studio</h6>
										<i class="fa fa-chevron-right lightgrey"></i>
									</a>
								</li>
								<li>
									<a href="#vertical-tab4" role="tab" data-toggle="tab">
										<span class="service-icon service-medical"></span>
										<h6 class="inline-block margin_0">medical spa</h6>
										<i class="fa fa-chevron-right lightgrey"></i>
									</a>
								</li>
								<li>
									<a href="#vertical-tab5" role="tab" data-toggle="tab">
										<span class="service-icon service-cosmetic"></span>
										<h6 class="inline-block margin_0">Cosmetic bar</h6>
										<i class="fa fa-chevron-right lightgrey"></i>
									</a>
								</li>
								<li>
									<a href="#vertical-tab6" role="tab" data-toggle="tab">
										<span class="service-icon service-hair"></span>
										<h6 class="inline-block margin_0">Hair studio</h6>
										<i class="fa fa-chevron-right lightgrey"></i>
									</a>
								</li>
							</ul>

						</div>

						<div class="col-lg-9 col-md-8 col-sm-7">
						</div>

					</div>

					<div class="row services-tab-content">
						<div class="col-sm-12">
							<div class="tab-content no-border">
								<div class="tab-pane fade in active" id="vertical-tab1">
									<div class="row">
										<div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-5 col-sm-7">
											<div class="services-tab-media">
												<img src="assets/images/service-media02.jpg" alt="">
											</div>

										</div>
									</div>
									<div class="row services-tab-body topmargin_20">
										<div class="col-sm-12">
											<p class="grey bottommargin_25">
												Labore venison short loin andouille sint short ribs. Ut nostrud laborum minim ball tip commodo shank aliquip short loin. Duis venison leberkas, andouille mollit landjaeger ullamco porchetta commodo biltong t-bone doner short loin culpa. Incididunt ea
												ground round pork belly, sunt venison dolor salami pig chicken et.
											</p>
											<p>
												Kevin deserunt consectetur adipisicing ut, flank doner culpa excepteur meatloaf elit ullamco. Do ex aliqua andouille exercitation sausage tempor ball tip pork chop proident cillum et. Short loin et anim do ut cupidatat proident nostrud picanha. Brisket
												sint tongue, chicken in deserunt minim short ribs.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Cool Sculpting</h6>
											<p>
												Eliminate stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure to use controlled cooling to safely target and eliminate.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Kybella</h6>
											<p>
												Introducing Kybella, the first FDA-approved, injectable drug used to reduce the appearance of submental fat, more commonly known as a double chin.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Botox</h6>
											<p>
												Botox is one of the leading and most effective treatments for wrinkles and lines. Revive is one of top 0.01% of Med Spas in the nation offering this service.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Juvederm</h6>
											<p>
												Get lush lips and smoother skin with Juvéderm! This injectable fills deep lines, such as the nasolabial folds and is also a natural looking lip enhancer. Results can last up to a year.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Voluma</h6>
											<p>
												Voluma is the latest in age-defying advancements. This treatment increases facial volume in the cheek and chin areas for a fuller and more youthful look. Results are immediate, even and natural looking.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Restylane</h6>
											<p>
												Restylane is a clear gel formulation of hyaluronic acid that is specifically formulated to act like your body’s own naturally produced hyaluronic acid, helping to instantly, visibly reduce.
											</p>
										</div>
									</div>

								</div>

								<div class="tab-pane fade in" id="vertical-tab2">
									<div class="row">
										<div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-5 col-sm-7">
											<div class="services-tab-media">
												<img src="assets/images/service-media.jpg" alt="">
											</div>

										</div>
									</div>
									<div class="row services-tab-body topmargin_20">
										<div class="col-sm-12">
											<p class="grey bottommargin_25">
												Labore venison short loin andouille sint short ribs. Ut nostrud laborum minim ball tip commodo shank aliquip short loin. Duis venison leberkas, andouille mollit landjaeger ullamco porchetta commodo biltong t-bone doner short loin culpa. Incididunt ea
												ground round pork belly, sunt venison dolor salami pig chicken et.
											</p>
											<p>
												Kevin deserunt consectetur adipisicing ut, flank doner culpa excepteur meatloaf elit ullamco. Do ex aliqua andouille exercitation sausage tempor ball tip pork chop proident cillum et. Short loin et anim do ut cupidatat proident nostrud picanha. Brisket
												sint tongue, chicken in deserunt minim short ribs.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Cool Sculpting</h6>
											<p>
												Eliminate stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure to use controlled cooling to safely target and eliminate.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Kybella</h6>
											<p>
												Introducing Kybella, the first FDA-approved, injectable drug used to reduce the appearance of submental fat, more commonly known as a double chin.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Botox</h6>
											<p>
												Botox is one of the leading and most effective treatments for wrinkles and lines. Revive is one of top 0.01% of Med Spas in the nation offering this service.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Juvederm</h6>
											<p>
												Get lush lips and smoother skin with Juvéderm! This injectable fills deep lines, such as the nasolabial folds and is also a natural looking lip enhancer. Results can last up to a year.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Voluma</h6>
											<p>
												Voluma is the latest in age-defying advancements. This treatment increases facial volume in the cheek and chin areas for a fuller and more youthful look. Results are immediate, even and natural looking.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Restylane</h6>
											<p>
												Restylane is a clear gel formulation of hyaluronic acid that is specifically formulated to act like your body’s own naturally produced hyaluronic acid, helping to instantly, visibly reduce.
											</p>
										</div>
									</div>

								</div>

								<div class="tab-pane fade in" id="vertical-tab3">
									<div class="row">
										<div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-5 col-sm-7">
											<div class="services-tab-media">
												<img src="assets/images/service-media02.jpg" alt="">
											</div>

										</div>
									</div>
									<div class="row services-tab-body topmargin_20">
										<div class="col-sm-12">
											<p class="grey bottommargin_25">
												Labore venison short loin andouille sint short ribs. Ut nostrud laborum minim ball tip commodo shank aliquip short loin. Duis venison leberkas, andouille mollit landjaeger ullamco porchetta commodo biltong t-bone doner short loin culpa. Incididunt ea
												ground round pork belly, sunt venison dolor salami pig chicken et.
											</p>
											<p>
												Kevin deserunt consectetur adipisicing ut, flank doner culpa excepteur meatloaf elit ullamco. Do ex aliqua andouille exercitation sausage tempor ball tip pork chop proident cillum et. Short loin et anim do ut cupidatat proident nostrud picanha. Brisket
												sint tongue, chicken in deserunt minim short ribs.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Cool Sculpting</h6>
											<p>
												Eliminate stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure to use controlled cooling to safely target and eliminate.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Kybella</h6>
											<p>
												Introducing Kybella, the first FDA-approved, injectable drug used to reduce the appearance of submental fat, more commonly known as a double chin.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Botox</h6>
											<p>
												Botox is one of the leading and most effective treatments for wrinkles and lines. Revive is one of top 0.01% of Med Spas in the nation offering this service.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Juvederm</h6>
											<p>
												Get lush lips and smoother skin with Juvéderm! This injectable fills deep lines, such as the nasolabial folds and is also a natural looking lip enhancer. Results can last up to a year.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Voluma</h6>
											<p>
												Voluma is the latest in age-defying advancements. This treatment increases facial volume in the cheek and chin areas for a fuller and more youthful look. Results are immediate, even and natural looking.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Restylane</h6>
											<p>
												Restylane is a clear gel formulation of hyaluronic acid that is specifically formulated to act like your body’s own naturally produced hyaluronic acid, helping to instantly, visibly reduce.
											</p>
										</div>
									</div>

								</div>

								<div class="tab-pane fade in" id="vertical-tab4">
									<div class="row">
										<div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-5 col-sm-7">
											<div class="services-tab-media">
												<img src="assets/images/service-media.jpg" alt="">
											</div>

										</div>
									</div>
									<div class="row services-tab-body topmargin_20">
										<div class="col-sm-12">
											<p class="grey bottommargin_25">
												Labore venison short loin andouille sint short ribs. Ut nostrud laborum minim ball tip commodo shank aliquip short loin. Duis venison leberkas, andouille mollit landjaeger ullamco porchetta commodo biltong t-bone doner short loin culpa. Incididunt ea
												ground round pork belly, sunt venison dolor salami pig chicken et.
											</p>
											<p>
												Kevin deserunt consectetur adipisicing ut, flank doner culpa excepteur meatloaf elit ullamco. Do ex aliqua andouille exercitation sausage tempor ball tip pork chop proident cillum et. Short loin et anim do ut cupidatat proident nostrud picanha. Brisket
												sint tongue, chicken in deserunt minim short ribs.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Cool Sculpting</h6>
											<p>
												Eliminate stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure to use controlled cooling to safely target and eliminate.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Kybella</h6>
											<p>
												Introducing Kybella, the first FDA-approved, injectable drug used to reduce the appearance of submental fat, more commonly known as a double chin.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Botox</h6>
											<p>
												Botox is one of the leading and most effective treatments for wrinkles and lines. Revive is one of top 0.01% of Med Spas in the nation offering this service.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Juvederm</h6>
											<p>
												Get lush lips and smoother skin with Juvéderm! This injectable fills deep lines, such as the nasolabial folds and is also a natural looking lip enhancer. Results can last up to a year.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Voluma</h6>
											<p>
												Voluma is the latest in age-defying advancements. This treatment increases facial volume in the cheek and chin areas for a fuller and more youthful look. Results are immediate, even and natural looking.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Restylane</h6>
											<p>
												Restylane is a clear gel formulation of hyaluronic acid that is specifically formulated to act like your body’s own naturally produced hyaluronic acid, helping to instantly, visibly reduce.
											</p>
										</div>
									</div>

								</div>

								<div class="tab-pane fade in" id="vertical-tab5">
									<div class="row">
										<div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-5 col-sm-7">
											<div class="services-tab-media">
												<img src="assets/images/service-media02.jpg" alt="">
											</div>

										</div>
									</div>
									<div class="row services-tab-body topmargin_20">
										<div class="col-sm-12">
											<p class="grey bottommargin_25">
												Labore venison short loin andouille sint short ribs. Ut nostrud laborum minim ball tip commodo shank aliquip short loin. Duis venison leberkas, andouille mollit landjaeger ullamco porchetta commodo biltong t-bone doner short loin culpa. Incididunt ea
												ground round pork belly, sunt venison dolor salami pig chicken et.
											</p>
											<p>
												Kevin deserunt consectetur adipisicing ut, flank doner culpa excepteur meatloaf elit ullamco. Do ex aliqua andouille exercitation sausage tempor ball tip pork chop proident cillum et. Short loin et anim do ut cupidatat proident nostrud picanha. Brisket
												sint tongue, chicken in deserunt minim short ribs.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Cool Sculpting</h6>
											<p>
												Eliminate stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure to use controlled cooling to safely target and eliminate.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Kybella</h6>
											<p>
												Introducing Kybella, the first FDA-approved, injectable drug used to reduce the appearance of submental fat, more commonly known as a double chin.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Botox</h6>
											<p>
												Botox is one of the leading and most effective treatments for wrinkles and lines. Revive is one of top 0.01% of Med Spas in the nation offering this service.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Juvederm</h6>
											<p>
												Get lush lips and smoother skin with Juvéderm! This injectable fills deep lines, such as the nasolabial folds and is also a natural looking lip enhancer. Results can last up to a year.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Voluma</h6>
											<p>
												Voluma is the latest in age-defying advancements. This treatment increases facial volume in the cheek and chin areas for a fuller and more youthful look. Results are immediate, even and natural looking.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Restylane</h6>
											<p>
												Restylane is a clear gel formulation of hyaluronic acid that is specifically formulated to act like your body’s own naturally produced hyaluronic acid, helping to instantly, visibly reduce.
											</p>
										</div>
									</div>

								</div>

								<div class="tab-pane fade in" id="vertical-tab6">
									<div class="row">
										<div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8 col-sm-offset-5 col-sm-7">
											<div class="services-tab-media">
												<img src="assets/images/service-media.jpg" alt="">
											</div>

										</div>
									</div>
									<div class="row services-tab-body topmargin_20">
										<div class="col-sm-12">
											<p class="grey bottommargin_25">
												Labore venison short loin andouille sint short ribs. Ut nostrud laborum minim ball tip commodo shank aliquip short loin. Duis venison leberkas, andouille mollit landjaeger ullamco porchetta commodo biltong t-bone doner short loin culpa. Incididunt ea
												ground round pork belly, sunt venison dolor salami pig chicken et.
											</p>
											<p>
												Kevin deserunt consectetur adipisicing ut, flank doner culpa excepteur meatloaf elit ullamco. Do ex aliqua andouille exercitation sausage tempor ball tip pork chop proident cillum et. Short loin et anim do ut cupidatat proident nostrud picanha. Brisket
												sint tongue, chicken in deserunt minim short ribs.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Cool Sculpting</h6>
											<p>
												Eliminate stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure to use controlled cooling to safely target and eliminate.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Kybella</h6>
											<p>
												Introducing Kybella, the first FDA-approved, injectable drug used to reduce the appearance of submental fat, more commonly known as a double chin.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Botox</h6>
											<p>
												Botox is one of the leading and most effective treatments for wrinkles and lines. Revive is one of top 0.01% of Med Spas in the nation offering this service.
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Juvederm</h6>
											<p>
												Get lush lips and smoother skin with Juvéderm! This injectable fills deep lines, such as the nasolabial folds and is also a natural looking lip enhancer. Results can last up to a year.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Voluma</h6>
											<p>
												Voluma is the latest in age-defying advancements. This treatment increases facial volume in the cheek and chin areas for a fuller and more youthful look. Results are immediate, even and natural looking.
											</p>
										</div>
										<div class="col-md-4 col-sm-6 topmargin_15">
											<h6 class="bottommargin_20">Restylane</h6>
											<p>
												Restylane is a clear gel formulation of hyaluronic acid that is specifically formulated to act like your body’s own naturally produced hyaluronic acid, helping to instantly, visibly reduce.
											</p>
										</div>
									</div>

								</div>


							</div>
						</div>
					</div>

				</div>
			</section>

